@tailwind base;
@tailwind components;
@tailwind utilities;




.fade-in {
  animation: fade-in-animation 1s ease-in;
  opacity: 1;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}