@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind layer;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Styles for the scrollbar and its thumb and track */
.container::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

.container::-webkit-scrollbar-thumb {
  background-color: red; /* Set the color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

.container::-webkit-scrollbar-track {
  background-color: red; /* Set the color of the track */
}

/* styles.css */
.left-align-image {
  object-position: left; /* Align the image to the left within its container */
  max-width: 50%; /* Control the maximum width of the image */
}
